.App {
  text-align: center;
}

.header{
  background: #e91e63;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
  padding: 15px;
}

.body ul span{
  cursor: pointer;
  float: right;
  font-weight: 500;
}

.body ul{
  list-style: none;
  padding: 5px;
  margin-bottom: 5px;
  background: #ddd;

}

.footer{
  position: fixed;
  background: #e91e63;
  padding: 15px;
  width: 100%;
  bottom: 0;
}

.footer input:focus{outline: none}

.footer input {
  width: 90%;
  margin: auto;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font-size: 17px;
  height: 35px;
}

.footer button:focus{outline: none}


.footer button{
  cursor: pointer;
  color: #fff;
  position: absolute;
  top: -18px;
  right: 50px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 26px;
  border: none;
  background: #e91e63;
  box-shadow: 2px 2px 3px;
}